.contactContainer {
	height: 200px;
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.wrapperSocialMedia {
	justify-content: center;
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	margin-right: 70px;
	border-radius: 50%;
	background: pink;
	cursor: pointer;
}

i {
	font-size: 30px;
	color: #150a13;
}
